@import 'base/colors';
@import 'base/reset';
@import 'base/typography';

@import 'components/button';
@import 'components/gallery';
@import 'components/navigation';

@import 'helpers/mixins';
// @import 'helpers/variables';




// Start General Styles
.section-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.section-heading {
    margin-bottom: $spacer-large;
}

.heading {
    font-size: $font-size-large;
    margin-bottom: $spacer-medium;
}

.pre-heading {
    font-size: $font-size-small;
    font-weight: $font-normal;
    margin-bottom: $spacer-small;
    color: $text-color-dark-lightgray;
}
// End General Styles



// Start Hero Section
.hero-section {
    // background-color: rgba(255,0,0,.2);

    &.site-min-full-height {
        // min-height: 100%;
        // min-height: 100vh;
        position: relative;
        z-index: 1;
    }

    padding-bottom: $spacer-medium;
    margin-bottom: $spacer-large;
    text-align: center;
    color: $text-color-light;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .hero-section__top {
        padding-top: $spacer-medium;
        position: relative;
        z-index: 1;

        &.hero-bg {
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                background: $color-primary;
                bottom: 48px;
                top: 0;
                left: 0;
                right: 0;
                @media all and (orientation: landscape) {
                    bottom: 78px;
                }
            }

            .hero-bg__img {
                position: absolute;
                top: calc(100% - 50px);
                left: 0;
                width: 100%;
                z-index: -1;
                display: block;
                @media all and (orientation: landscape) {
                    top: calc(100% - 80px);
                }
            }

            .branding {
                margin-bottom: $spacer-medium;

                img {
                    max-width: 3.5rem;
                }

                h1 {
                    color: $text-color-light;
                    font-family: $sans-serif-secondary;
                    font-weight: $font-light;
                    font-size: $font-size-x-large;
                    margin: 0;
                    line-height: 1;

                    span {
                        font-weight: $font-bold;
                    }
                }

                .version {
                    color: $text-color-dark;
                    background: $color-light;
                    font-size: $font-size-x-small;
                    line-height: $font-size-x-small;
                    border-radius: 5rem;
                    display: inline-block;
                    padding: $spacer-x-small $spacer-small;
                    margin: 0;
                }

            }

            .hero-text {
                color: $text-color-light;
                padding-left: 15%;
                padding-right: 15%;
            }
        }
    }

    .hero-section__bottom {

        .hero-section__bottom__wrapper {
            position: relative;
        }

        position: relative;
        z-index: 1;
        left: 0;
        width: 100%;

        display: flex;
        flex: 1;

        .container {
            flex: 1;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
        }

        .hero-section__banner {
            img {
                max-width: 100%;
                // max-height: 550px;
                @media all and (orientation: landscape) {
                    max-height: inherit;
                }
                
            }
        }

    }


    // start Hero User Input
    .hero-user-input {
        background: $color-primary;
        padding: $spacer-small;
        z-index: 2 !important;
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;

        
        @include border-radius();
        @include box-shadow();

        &:hover {
            @include box-shadow(2);
        }

        form {

            position: relative;
            z-index: 1;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 36px;

            .input-group {
                position: relative;
                width: 100%;

                &::before {
                    content: "https://";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1;
                    padding-left: 8px;
                    padding-right: 8px;
                    text-transform: lowercase;
                    color: rgba($color-light, .84);
                    font-weight: $font-bold;
                    font-size: $font-size-normal;
                }
                
            }

            .form-control {
                flex: 1 1 auto;
                padding-left: 0;
                color: $text-color-light;
                // font-weight: $font-bold;
                line-height: 1;
                background: transparent;
                letter-spacing: 1px;
                height: 36px;
                border: 0;
                border-radius: 0;

                &::placeholder {
                    color: $text-color-light;
                    opacity: .5;
                    line-height: 1;
                    text-transform: lowercase;
                }
                

                &:focus {
                    outline: 0 !important;
                    border-width: 0px;
                    box-shadow: none;
                    @include transition();
                }

                
            }

            button {
                background-color: transparent;
                width: 36px;
                height: 36px;
                border: 0;
                outline: 0;
                color: $text-color-light;
                border-radius: 50%;
                @include transition();
                i.fa {
                    font-size: $font-size-normal;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
                &:hover {
                    color: $text-color-light !important;
                    background: rgba(255,255,255,.1);
                    border-radius: 50%;
                }

            }
            textarea.form-control {
                height: 120px;
            }
        }
    }
    // end Hero User Input
}

@media all and (orientation: landscape) {

}
// End Hero Section




// Start Slider Area Media-Section
.content-box {

    @include border-radius();
    @include box-shadow(1);
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:hover {
        @include box-shadow(2);
    }

    p:last-of-type {
        margin-bottom: none;
    }

    &.color-bg {
        padding: $spacer-large;
        position: relative;
        z-index: 1;

        &::before {
            @include before-after();
            background: $bg-color-primary;
            z-index: -2;
            opacity: 1;
        }

        &::after {
            @include before-after();
            background: url("/img/Elements/MediaSectionOverlapIcon.png");
            background-size: contain;
            z-index: -1;
            opacity: 1;
        }

        &.text-light {
            color: $text-color-light !important;

            .heading {
                color: $text-color-light;
            }
        }
    }

    .heading {
        font-size: $font-size-large;
    }

    .site-btn--light {
        margin-top: $spacer-medium;
    }

    video {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
    audio {
        margin: 0 auto;
        max-width: 100%;
    }
    picture {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
}

// End Slider Area 1



// Start Media Section
.media-section {
    .content-box::after {
        background: url("/img/Elements/MediaSectionOverlapIcon.png");
    }
}

// End Media Section




// Start Support Area-2
.support-section-with-sub-section {
    .section-content__sub-section {
        margin-top: $spacer-medium;

        .sub-section__title {
            margin-bottom: 0;
            margin-top: $spacer-large;
            padding: $spacer-small;
            background-color: $color-primary;
            color: $text-color-light;
            font-size: $font-size-large;
            font-weight: $font-light;
            @include border-radius();

            &+.content-box {
                margin-top: $spacer-small;
            }

        }
        .content-box {
            box-shadow: none !important;
            overflow: initial;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            margin: -1%;

            .support-item {
                box-shadow: none !important;
                display: flex;
                flex: 0 18%;
                min-width: 60px;
                min-height: 80px;
                margin: 1%;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                padding: $spacer-small;
                border: 0;
                white-space: nowrap;
                // background-color: rgba(0,0,0,.01);
                @include transition();


                // @media all and (min-width: 481px) and (orientation: portrait) {
                //     flex-basis: 23% !important;
                //     // background: rgba(blue, .2);
                // }

                // @media all and (max-width: 480px) and (orientation: portrait) {
                //     flex-basis: 31.3333% !important;
                //     // background: rgba(black, .2);
                // }

                // @media all and (max-width: 360px) and (orientation: portrait) {
                //     flex-basis: 48% !important;
                //     // background: rgba(yellow, .2);
                // }

                @media all and (min-width: 480px) and (orientation: landscape) {
                    flex-basis: 11.5% !important;
                    // background: rgba(red, .2);
                }

                @media all and (min-width: 640px) and (orientation: landscape) {
                    flex-basis: 9% !important;
                    // background: rgba(green, .2);
                }

                &:hover {
                    background-color: rgba($color-primary, .1);
                    @include box-shadow();

                    i.fa {
                        // color: $text-color-light;
                    }

                    i.fa{
                        transform: rotate(90deg) scale(1.05);
                    }
                    img {
                        transform: scale(1.05);
                    }

                    span {
                        // color: $text-color-light;
                    }
                }

                i.fa {
                    font-size: $icon-size-medium;
                    color: $text-color-primary;
                    transform: rotate(90deg);
                    width: 3rem;
                    max-width: 3rem;
                    height: 3rem;
                    max-height: 3rem;
                    font-size: 3rem;
                    line-height: 1;
                }

                img {
                    width: 3rem;
                    max-width: 3rem;
                    height: auto;
                    max-height: 3rem;
                    font-size: 3rem;
                }

                span {
                    display: block;
                    margin-top: $spacer-small;
                    font-size: $font-size-small;

                }
            }
        }
    }
}

// End Support Area



// Start Customization Section
.custom-section {
    .content-box::after {
        background-image: url("/img/Elements/CustomizeSectionOverlapIcon.png");
    }
}

// End Customization Section




// Start Feature Section
.feature-section {
    padding-top: 2rem;

    .section-heading {
        margin-bottom: $spacer-medium;
    }

    .content-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        box-shadow: none;
        padding-bottom: 1rem;
        margin: -1%;


        .feature-item {
            display: flex;
            flex: 0 1 auto;
            flex-flow: column wrap;
            margin: 1%;
            padding: 1%;
            // background-color: rgba(0, 0, 0, .01);
            @include border-radius();

            @media all and (min-width: 481px) and (orientation: portrait) {
                flex-basis: 18% !important;
                // background: rgba(blue, .2);
            }

            @media all and (max-width: 480px) and (orientation: portrait) {
                flex-basis: 23% !important;
                // background: rgba(black, .2);
            }

            @media all and (max-width: 360px) and (orientation: portrait) {
                flex-basis: 31.3333% !important;
                // background: rgba(yellow, .2);
            }

            @media all and (min-width: 480px) and (orientation: landscape) {
                flex-basis: 23% !important;
                // background: rgba(red, .2);
            }

            @media all and (min-width: 640px) and (orientation: landscape) {
                flex-basis: 18% !important;
                // background: rgba(green, .2);
            }

            &:hover {
                @include box-shadow();
                background-color: rgba($color-primary, .1);

                i.fa,
                img {
                    transform: scale(1.05);
                }
            }

            .feature-item__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                // flex: 1;

                i.fa {
                    line-height: 1;
                    width: 3rem;
                    height: 3rem;
                    font-size: 3rem;
                    max-width: 3rem;
                    max-height: 3rem;
                    color: $text-color-primary;
                }

                img {
                    width: 3rem;
                    max-width: 3rem;
                    height: auto;
                    max-height: 3rem;
                }
            }

            .feature-item__text {
                flex: 1;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: flex-start;

                .feature-item__text__category {
                    font-size: $font-size-xxx-small;
                    word-break: break-word;
                    margin-top: $spacer-small;
                    margin-bottom: 0;
                    color: $text-color-dark-lightgray;
                    text-transform: uppercase;
                }

                .feature-item__text__title {
                    font-size: $font-size-xx-small;
                    color: $text-color-primary;
                    margin: 0;
                    word-break: break-word;
                    text-overflow: ellipsis;
                    margin-top: $spacer-x-small;
                    text-transform: uppercase;
                }
            }
        }

    }
}

// End Feature Section




// Start Mobile App Section
.price-section {

    .content-box {

        box-shadow: none;
        overflow: inherit;

    }

    .price-section__banner {
        position: relative;
        z-index: -1;
        padding-bottom: 2rem;

        img {
            position: relative;
            display: block;
            z-index: 1;
            padding-right: 6rem;
        }

        .price-tag__wrapper {
            background: $color-primary;
            border-radius: 50%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6rem;
            height: 6rem;
            right: 1rem;
            top: 35%;
            transform: translate(0, -50%) rotate(20deg);
            @include box-shadow(5);

            margin: 0;
            color: $text-color-light;
            flex-flow: column;

            .price-tag {
                font-size: $font-size-xx-large;
                line-height: 1;
                font-weight: bold;
                color: $text-color-light;
                padding: 0 $spacer-small;
            }

        }

        @media all and (orientation: landscape)  {
            img {
                padding-right: 10rem;
                margin: 0 auto;
            }

            .price-tag__wrapper {
                width: 10rem;
                height: 10rem;
            }

        }

        @media all and (min-width: 600px) and (orientation: portrait) {
            img {
                padding-right: 9rem;
            }

            .price-tag__wrapper {
                width: 10rem;
                height: 10rem;
            }

        }
    }
}

// End Mobile App Section



// Start Related Section
.related-section {
    .content-box {
        &.color-bg {
            &::after {
                content: none;
            }
        }

        img {
            max-height: 3rem;
        }

        .related-section__banner {
            img {
                max-height: 300px;
            }
        }

        .btn {
            margin: 0 auto !important;
            bottom: 2rem;
            width: 70%;
            left: 15%;
            padding: .5rem 0;
        }
    }
}

// End Related Section




// Start Footer Section
.footer-section {

    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    color: $text-color-dark-lightgray;

    .footer-logo {
        h1 {
            line-height: 1;
            margin: 0;
            position: relative;
            color: $link-color-dark;

            a {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                margin-bottom: $spacer-large;
                color: $link-color-dark;

                img {
                    max-height: $spacer-large;
                }

                span {
                    font-size: $font-size-x-small;
                    margin-top: $spacer-x-small;
                    color: $link-color-dark;
                }
            }
        }
    }

    .section-heading {

        p {
            font-size: $font-size-small;
            font-weight: $font-normal;
            color: $text-color-dark-lightgray;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .social-links {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;

        li {
            @include transition();

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                font-size: 18px;
                line-height: 1;
                @include border-radius();
                padding: $spacer-xx-small;
                margin: $spacer-small;
                background: $color-dark !important;
                color: $text-color-light !important;

                &.facebook {
                    background: $fb-color !important;
                }

                &.twitter {
                    background: $tw-color !important;
                }

                &.instagram {
                        background: $ins-color !important;
                }

                &.google-plus {
                    background: $gplus-color !important;
                }
                &.youtube {
                    background: $yt-color !important;
                }
            }

            &:hover {
                transform: scale(1.2);

                // a {
                //     background: $color-light;
                //     color: $text-color-primary !important;
                //     @include box-shadow();
                // }
            }
        }
    }

    .footer-link {
        font-size: $font-size-x-small;
        color: $link-color-dark !important;
        padding: $spacer-x-small;
        background-color: transparent;
        @include border-radius();
        @include transition();

        &:hover {
            background-color: rgba($color-dark, .1);
        }
    }

}

// End Footer Section


// Start Owl-Carousel

// Start General Owl-Carousel
.owl-carousel {
    img {
        width: auto !important;
        margin: 0 auto !important;
    }

    .owl-controls {

        .owl-dots {
            position: absolute;
            left: 0;
            width: 100%;
            top: 100%;

            div {
                width: .8rem;
                height: .8rem;
                margin: 10px;
                background: transparent;
                display: inline-block;
                border-radius: 50%;
                border: 1px solid $color-primary;
                transition: all .3s ease-in-out;

                &.active {
                    background: $color-primary;
                }
            }
        }


        .owl-nav {

            &>div {
                position: absolute;
                background: rgba($color-light, 0);
                color: $text-color-dark;
                font-size: 2rem;
                padding: 1%;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 0;
                height: 100%;
                opacity: .25;
                @include transition();

                &:hover {
                    opacity: 1;
                    background: rgba($color-light, .5);
                }
            }

            .owl-prev {
                left: 0;
                right: auto;

                i.fa {
                    left: -15px !important;
                    position: relative;
                    @include transition();
                }

                &:hover {
                    padding-right: 3%;

                    i.fa {
                        left: 0 !important;
                    }
                }

            }

            .owl-next {
                right: 0;
                left: auto;

                i.fa {
                    right: -15px !important;
                    position: relative;
                    @include transition();
                }

                &:hover {
                    padding-left: 3%;

                    i.fa {
                        right: 0 !important;
                    }
                }
            }
        }

    }
}

// End General Owl-Carousel





// Start Special Slider Previous/Next Design
.special-slider-section {
    overflow-x: hidden;

    .content-box {
        min-height: 400px;
        @media all and (orientation: landscape) {
            min-height: 250px;
        }
    }

    .owl-stage-outer {
        overflow: inherit !important;

        .owl-item {
            @include transition();

            &:not(.active) {
                // visibility: hidden;
                // opacity: 0;
            }
            
            &.active {
                position: relative;
                z-index: 1;

                &::after,
                &::before {
                    // content: "";
                    top: 5%;
                    bottom: 5%;
                    background: $color-primary;
                    position: absolute;
                    z-index: 1;
                    opacity: 0;
                    width: 100%;
                    overflow: hidden;
                    @include border-radius();
                }
                &::before {
                    left: auto;
                    right: calc(100% + 5px);
                }
                &::after {
                    left: calc(100% + 5px);
                    right: auto;
                    opacity: 1;
                }

                
            }

            // Previous Done!!!
            &+.active {
                &::before {
                    opacity: 1;
                }
            }


            // Next Done!!!
            &:nth-last-of-type(1).active {
                &::after {
                    opacity: 0;
                }
            }
            

        }
    }
}
// End Special Slider Previous/Next Design





// End Owl-Carousel


// start test purpose
.document__container {
    padding: 1rem;
    background-color: rgba(red, .5);
    border: 1px solid yellow;

}

// end test purpose

// img {
//     @include transition();
//     &:hover {
//         transform: scale(1.05);
//     }
// }


.site-input__wrapper {
    border: 2px solid red;
    background-color: yellow;
    position: relative;
    z-index: 1;
    input.site-input {
        height: 3rem !important;
        width: calc(100% - 10rem);
        color: $text-color-light !important;
        outline: none;
        border-radius: .25rem;
        background-color: $color-primary !important;
        margin: 0;
        padding: .5rem 1rem;
        font-size: 1rem;
        margin-top: 24px;
    }
    input+label {
        position: absolute;
        top: 0;
        left: 0;
        color: red;
        background: yellow;
        height: 24px;
        font-size: 16px;


    }
    button {
        padding: 0;
        margin: 0;
        background-color: green;
        color: white;
        border: 2px solid orange;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        right: 0;

    }
}