@import 'base/colors';
@import 'base/reset';
@import 'base/typography';

@import 'components/button';
@import 'components/gallery';
@import 'components/navigation';

@import 'helpers/mixins';
// @import 'helpers/variables';

// Start General Styles
.section-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.section-heading {
    margin-bottom: $spacer-large;
}

.heading {
    font-size: $font-size-large;
    margin-bottom: $spacer-medium;
}
.pre-heading {
    font-size: $font-size-small;
    font-weight: $font-normal;
    margin-bottom: $spacer-small;
    color: $text-color-dark-lightgray;
}
// End General Styles



// Start Hero Area
.hero-section {
    padding-top: $spacer-medium;
    padding-bottom: $spacer-x-large;
    text-align: center;
    color: $text-color-light;
    &::before {
        background: $color-primary;
        background-repeat: no-repeat;
        background-position: top top;
        background-size: contain;
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
    }
    &::after {
        background: url("../img/elements/top-1.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        content: "";
        position: absolute;
        z-index: -2;
        top: 20%;
        left: -10%;
        right: 0;
        height: 30%;
        min-height: 100px;
    }

    .branding {
        margin-bottom: $spacer-medium;

        img {
            max-width: 3.5rem;
        }
        h1 {
            color: $text-color-light;
            font-family: $sans-serif-secondary;
            font-weight: $font-light;
            font-size: $font-size-x-large;
            margin: 0;
            line-height: 1;
            span {
                font-weight: $font-bold;
            }
        }
        .version {
            color:  $text-color-dark;
            background:  $color-light;
            font-size: $font-size-x-small;
            border-radius: 5rem;
            display:  inline-block;
            padding: .0125rem .5rem;
            margin: 0;
            text-transform: lowercase;
        }

    }

    .hero-section__full-height {
        position: relative;
        height: 100vh;
        // padding-top: 3rem;
        // padding-bottom: 3rem;
        // border: 2px solid blue;
        .hero-section__top {
            // position: relative;
            // z-index: 1;
            // overflow: hidden;
            // padding-bottom: 2rem;

            .hero-text {
                color: $text-color-light;
                padding-left: 10%;
                padding-right: 10%;
            }
        }
        .hero-section__bottom {
            max-height: 100%;
            position: relative;
            z-index: 1;
            .hero-section__banner {
                // margin-bottom: -1rem;
                img {
                    max-width: 100%;
                    max-height: 60vh;
                    // display: block;
                    // margin: 0 auto;
                    // bottom: 1rem;
                    // position: relative;
                }
            }
            
        }


    }

    .btn__wrapper {
        // display: flex;
        // flex-flow: column wrap;
        span {
            display: block;
            // margin-top: $spacer-medium;
            margin-bottom: $spacer-medium;
            color: $text-color-dark-gray;
        }

        .btn {
            img {
                max-width: 2rem;
                max-height: 1rem;
                margin-left: $spacer-small;
            }
        }
    }

}
// End Hero Area



// Start Slider Area 1
.content-box {
    
    @include border-radius();
    @include box-shadow(1);
    overflow: hidden;
    position: relative;
    z-index: 1;
    &:hover {
        @include box-shadow(2);
    }
    p:last-of-type {
        margin-bottom: none;
    }

    &.color-bg {
        padding: $spacer-large;
        postion: relative;
        z-index: 1;
        &::before {
            @include before-after();
            background: $bg-color-primary;
            z-index: -2;
            opacity: 1;
        }  
        &::after {
            @include before-after();
            background: url("/img/Elements/MediaSectionOverlapIcon.png");
            background-size: contain;
            z-index: -1;
            opacity: 1;
        }  
        &.text-light {
            color: $text-color-light !important;   
            .heading {
                color: $text-color-light;
            }
        }
    }

    .heading {
        font-size: $font-size-large;
    }

    .site-btn--light {
        margin-top: $spacer-medium;
    }
}
// End Slider Area 1



// Start Media Section
.media-section {
    .content-box::after {
        background: url("/img/Elements/MediaSectionOverlapIcon.png");
    }     
}
// End Media Section




// Start Support Area
.support-section {
    .content-box {
        box-shadow: none;
        overflow: initial;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gird-template-rows: auto;
        grid-gap: $spacer-medium;
        .support-item {
            dispaly: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            padding: $spacer-medium 0;
            border: 0;
            @include box-shadow(.5);
            @include transition();

            &:hover {
                background-color: $color-primary;
                @include box-shadow();
                i.fa {
                    color: $text-color-light;
                }
                span {
                    color: $text-color-light;
                }
            }

            i.fa {
                font-size: $icon-size-medium;
                color: $text-color-primary;
                transform: rotate(90deg);
            }
            span{
                display: block;
                margin-top: $spacer-small;
                font-size: $font-size-small;

            }          
        }
    }
}
// End Support Area



// Start Customization Section
.custom-section {
    .content-box::after {
        background-image: url("/img/Elements/CustomizeSectionOverlapIcon.png");
    }  
}
// End Customization Section




// Start Feature Section
.feature-section{
    padding-top: 2rem;
    
    .section-heading {
        margin-bottom: $spacer-medium;
    }

    .content-box {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;

       box-shadow: none;
       padding-bottom: 1rem;


       .feature-item {    
            flex: 0 0 21%;
            margin: $spacer-medium 2%;
            margin-bottom: 0;
            display: flex;
            flex-flow: column wrap;     
            @include border-radius();

            &:hover {
                @include box-shadow();
            }

            .feature-item__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
            
                i, img  {
                    line-height: 1;
                    width: 3rem;
                    height: 3rem;
                    font-size: 3rem;
                    max-width: 3rem;
                    max-height: 3rem;
                    color: $text-color-primary;
                }
            }

            .feature-item__text {
                flex: 1;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: flex-start;
            
                .feature-item__text__category {
                    font-size: $font-size-xxx-small;
                    word-break: break-word;
                    margin-top: $spacer-small;
                    margin-bottom: 0;
                    color: $text-color-dark-lightgray;
                    text-transform: uppercase;
                }
                
                .feature-item__text__title {
                    font-size: $font-size-xx-small;
                    color: $text-color-primary;
                    margin: 0;
                    word-break: break-word;
                    text-overflow: ellipsis;
                    margin-top: $spacer-x-small;
                    text-transform: uppercase;
                }
            }
        }
       
    }
}
// End Feature Section




// Start Mobile App Section
.mobile-app-section{

    .content-box {

       box-shadow: none;

       .hero-section__banner {
            img {
                // max-width: 100%;
            }
       }
       
    }

    .mobile-app-section__banner {
        position: relative;
        z-index: -1;
        padding-bottom: 2rem;

        img {
            position: relative;
            display: block;
            z-index: 1;
            padding-right: 5rem;
        }
        
        .price-tag__wrapper {
            background: $color-primary;
            border-radius: 50%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6rem;
            height: 6rem;
            position: absolute;
            right: 0;
            top: 35%;
            transform: translate(0, -50%) rotate(20deg);

            margin: 0;
            color: $text-color-light;
            flex-flow: column;
    
            .price-tag {
                font-size: $font-size-xx-large;
                line-height: 1;
                font-weight: bold;
                color: $text-color-light;
                padding: 0 $spacer-small;
            }
            
        }
    }
}
// End Mobile App Section




// Start Footer Section
.footer-section {

    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    color: $text-color-dark-lightgray;
    
// .pre-heading {
//     font-size: $font-size-small;
//     font-weight: $font-normal;
//     margin-bottom: $spacer-small;
//     color: $text-color-dark-lightgray;
// };

    .footer-logo {
        h1 {
            line-height: 1;
            margin: 0;
            position: relative;
            color: $link-color-dark;
            a {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                margin-bottom: $spacer-large;
                color: $link-color-dark;
                img {
                    max-height: $spacer-x-large;
                }
                span {
                    font-size: $font-size-x-small;
                    margin-top: $spacer-x-small;
                    color: $link-color-dark;
                }
            }
        }
    }

    .section-heading {

        p {
            font-size: $font-size-small;
            font-weight: $font-normal;
            color: $text-color-dark-lightgray;

           &:last-of-type {
               margin-bottom: 0;
            }
       }
    }

    .social-links {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 1.5rem;
        li {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                font-size: 18px;
                line-height: 1;
                @include border-radius();
                background: $color-primary;
                color: $text-color-light !important;
                padding: $spacer-xx-small;
                margin: $spacer-small;
            }
        }
    }

    .footer-link {
        font-size: $font-size-xx-small;
        color: $link-color-dark !important;
    }

}



// End Footer Section