// @import 'base/colors';
// @import 'base/reset';
// @import 'base/typography';

// @import 'components/gallery';
// @import 'components/navigation';

// @import 'helpers/mixins';
// @import 'helpers/variables';

%site-btn--shared {
    font-size: $font-size-normal;
    text-transform: initial !important;
    @include border-radius();
}

.site-btn--light {
    @extend %site-btn--shared;
    background-color: $color-light;    
    color: $text-color-dark;
    i.fa {
        color: $text-color-dark;
    }
}

.site-btn--dark {
    @extend %site-btn--shared;
    background-color: $color-primary;
    color: $text-color-light !important;
}

.site-btn__support-btn--light {



}