// @import 'base/reset';
// @import 'base/typography';

// @import 'components/button';
// @import 'components/gallery';
// @import 'components/navigation';

// @import 'helpers/mixins';
// @import 'helpers/variables';

$color-accent: #FFD200;
$color-primary: #6454E3;
$color-secondary: #FC7151;
$color-black: #000;
$color-dark: #261F1F; //site dark color
$color-dark-gray: rgba(42, 11, 11, 0.84);
$color-light-gray: rgba(255,255,255,.84);
$color-light: #FFF;

$text-color-primary: #6454E3;
$text-color-black: #000;
$text-color-dark: #261F1F;
$text-color-dark-gray: rgba(42, 11, 11, 0.84);
$text-color-dark-lightgray: rgba(0,0,0,.34);
$text-color-light: #FFF;
$text-color-light-gray: rgba(255,255,255,.84);



$body-bg: $color-light;
$bg-color-primary: $color-primary;

$link-color-light: rgba(255,255,255,.84);
$link-color-dark: rgba(42, 11, 11, 0.84);


// Social Colors from mdb-color
$fb-color: #3b5998;
$tw-color: #55acee;
$gplus-color: #dd4b39;
$ins-color: #2e5e86;
$yt-color: #ed302f;