// @import 'base/colors';
// @import 'base/reset';

// @import 'components/button';
// @import 'components/gallery';
// @import 'components/navigation';

@import 'helpers/mixins';
@import 'helpers/variables';


$sans-serif-primary: 'Lato', sans-serif;
$sans-serif-secondary: 'Montserrat', sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$mono: 'Source Code Pro', Courier, mono;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;
$font-bold-x: 900;

$font-size-xx-large: 2rem;
$font-size-x-large: 1.5rem;
$font-size-large: 1.2rem;
$font-size-normal: 1rem;
$font-size-small: .8rem;
$font-size-x-small: .6rem;
$font-size-xx-small: .5rem;
$font-size-xxx-small: .4rem;









