// @import 'base/colors';
// @import 'base/reset';
// @import 'base/typography';

// @import 'components/button';
// @import 'components/gallery';
// @import 'components/navigation';

// @import 'helpers/mixins';


$margin-0: 0;


$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;


$spacer-medium: 1rem;
$spacer-large: 2rem;
$spacer-small: .5rem;

$icon-size-large: 3rem;
$icon-size-medium: 2rem;
